In [1]:
import pandas as pd
import numpy as np
import time

import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV 
from sklearn.model_selection import RandomizedSearchCV 

from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_squared_error, r2_score

In [31]:
bonds10_d = pd.read_csv('data\TVC_US10Y_1D.csv')
qqq = pd.read_csv('data\QQQ_1D_popular.csv')

to_rename = ['EMA', 'EMA.1', 'EMA.2', 'EMA.3', 'MA', 'MA.1', 'MA.2', 'MA.3',
            'Basis', 'Upper', 'Lower',
            'Histogram', 'Signal',
            '%K', '%D',
            'OnBalanceVolume',
            'Accumulation/Distribution',
            'DI+', 'DI-',
            'Aroon Up', 'Aroon Down']

new_name = ['20_ema', '50_ema', '100_ema', '200_ema', '20_sma', '50_sma', '100_sma', '200_sma',
            'bb_basis', 'bb_upper', 'bb_lower',
           'macd_hist', 'macd_signal',
           'stoch_%K', 'stoch_%D',
           'OBV',
           'A/D',
           'adx_DI+', 'adx_DI-', 
           'aroon_up', 'aroon_down']

qqq = qqq.drop(columns = ['Upper Bollinger Band','Lower Bollinger Band', 'Regular Bullish', 'Regular Bullish Label','Regular Bearish', 'Regular Bearish Label'])
qqq.rename(columns = dict(zip(to_rename, new_name)), inplace = True)
bonds10_d.rename(columns = {'time':'bonds_time', 'open':'bonds_open', 'high':'bonds_high', 'low':'bonds_low', 'close': 'bonds_close'}, inplace = True)

In [33]:
qqq

,time,open,high,low,close,20_ema,50_ema,100_ema,200_ema,20_sma,...,macd_signal,stoch_%K,stoch_%D,OBV,A/D,adx_DI+,adx_DI-,ADX,aroon_up,aroon_down
0,1999-03-10,51.12500,51.156250,50.28125,51.0625,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.111016e+06,100.000000,0.000000,NaN,NaN,NaN
1,1999-03-11,51.43750,51.734375,50.31250,51.3125,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.688602e+06,8.050338e+06,98.275390,0.000000,NaN,NaN,NaN
2,1999-03-12,51.12500,51.156250,49.65625,50.0625,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.450000e+05,4.042853e+06,94.818537,1.393733,NaN,NaN,NaN
3,1999-03-15,50.43750,51.562500,49.90625,51.5000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7.314000e+06,9.931174e+06,92.253059,1.342864,NaN,NaN,NaN
4,1999-03-16,51.71875,52.156250,51.15625,51.9375,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.221980e+07,1.269069e+07,91.490889,1.311734,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6318,2024-04-18,426.49000,428.240000,422.83000,423.4100,398.709452,421.574777,433.896839,436.434436,395.91020,...,-0.155545,2.348178,4.784630,6.189428e+09,1.839980e+10,15.691033,27.872405,10.537848,7.142857,100.000000
6319,2024-04-19,422.22000,422.750000,413.07000,414.6500,398.868064,421.437652,433.142061,434.359728,396.13205,...,-0.897670,4.663518,3.721825,6.114197e+09,1.834913e+10,13.955596,35.229366,12.700272,0.000000,100.000000
6320,2024-04-22,417.31000,421.180000,413.94000,418.8200,399.066591,421.385818,432.580412,432.879754,396.38885,...,-1.633526,16.971665,7.994454,6.162005e+09,1.836577e+10,12.881310,32.517449,15.698155,14.285714,92.857143
6321,2024-04-23,420.77000,426.280000,418.87150,425.0700,399.325331,421.458772,432.285886,432.135968,396.68300,...,-2.223439,35.419126,19.018103,6.206390e+09,1.839566e+10,17.247687,29.958418,17.239678,7.142857,85.714286
6322,2024-04-24,428.20000,429.730000,424.20000,426.5100,399.595825,421.558796,432.059381,431.600161,396.98375,...,-2.662911,40.408900,30.933230,6.254830e+09,1.838769e+10,19.915916,28.187546,18.132934,0.000000,78.571429